.gradle/*
.idea/*
.idea/libraries/*
app/app.iml
app/build/*
librarySlidingMenu/librarySlidingMenu.iml
librarySlidingMenu/build/*
notificationsCore/notificationsCore.iml
notificationsCore/build/*
local.properties
.DS_Store
build/*
*.iml
